<head>
    <style>
        span.highlighted {
            color: red;
        }
    </style>
</head>

{% extends 'basic/base.html' %}
{% load myblog_tags %}
{% block title %}
    Blog | Jian Yang
{% endblock title%}
{% block main-body %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    {% block main %}
                    {% endblock main %}
                </main>
                <aside class="col-md-4">
                    {% block toc %}
                    {% endblock toc %}
                    <div class="widget widget-recent-posts">
                        <h3 class="widget-title">Latest</h3>
                        {% get_recent_posts as recent_post_list %}
                        <ul>
                            {% for post in recent_post_list %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </li>
                            {% empty %}
                            No post!
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget-archives">
                        <h3 class="widget-title">Archives</h3>
                        {% archives as date_list %}
                        <ul>
                            {% for a_date in date_list %}
                            <li>
                                <a href="{% url 'myblog:archives' a_date.year a_date.month %}">{{ a_date|date:'F' }}, {{ a_date.year }}</a>
                            </li>
                            {% empty %}
                            No archive!
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="widget widget-category">
                        <h3 class="widget-title">Categories</h3>
                        {% get_categories as category_list %}
                        <ul>
                            {% for category in category_list %}
                            <li>
                            </li>
                            {% empty %}
                            No category!
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="widget widget-tag-cloud">
                        <h3 class="widget-title">Tags</h3>
                        {% get_tags as tag_list %}
                        <ul>
                            {% for tag in tag_list %}
                            <li>
                                <a href="{% url 'myblog:tag' tag.pk %}">{{ tag.name }}</a>
                            </li>
                            {% empty %}
                            No tag!
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="rss">
                        <a href="{% url 'rss' %}"><span class="ion-social-rss-outline"></span>Subscription</a>
                    </div>
                    <div class="widget widget-follow-me">
                        <h3 class="widget-title"><a href="{% url 'about' %}">Follow me</a></h3>
                        <ul class="social" style="float: left;">
                            <li class="email" title="yangjufo@gmail.com"><a href="mailto:yangjufo@gmail.com" target="_top"><span class="ion-email"></span></a></li>
                            <li class="github" title="https://github.com/yangjufo"><a href="https://github.com/yangjufo"><span class="ion-social-github"></span></a></li>
                            <li class="linkedin" title="https://www.linkedin.com/in/jianyang995"><a href="https://www.linkedin.com/in/jianyang995/"><span class="ion-social-linkedin"></span></a></li>
                            <li class="facebook" title="https://www.facebook.com/yangjufo"><a href="https://www.facebook.com/yangjufo"><span class="ion-social-facebook"></span></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock main-body %}