<head>	
	<style>
		img {
			width: 20%;
		}	
	</style>
</head>
{% extends 'basic/base.html' %}
{% load static %}
{% block title %}About | Jian Yang{% endblock title%}
{% block main-body %}
	<div class="content-body">
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<h1 class="page-title">About Me</h1>
					<article class="post">
						<div class="entry-content clearfix">
							<figure class="img-responsive-center">
								<img class="img-responsive" src="{% static 'img/profile.jpg' %}" alt="Developer Image">
							</figure>
							<p>Jian is a programmer, developer and student. He currently focuses on software engineering, especially user-centric. He loves to explore new technologies and adopt them in developing.</p>
							<p>Jian is also a fan of sports, including basketball, runing, etc. He enjoys making new friends and sharing with others.</p>
							<p>For more about his experiences, please refer to his <a href="https://docs.google.com/document/d/1K6CazAGfjJgD_L2yRRltrzJZxB-KIrdKKtzoPNAUBJw/edit?usp=sharing">Resume.</a></p>
							<div class="height-40px"></div>
							<h2 class="title text-center">Social</h2>
							<ul class="social">
								<li class="email" title="yangjufo@gmail.com"><a href="mailto:yangjufo@gmail.com" target="_top"><span class="ion-email"></span></a></li>
								<li class="github" title="https://github.com/yangjufo"><a href="https://github.com/yangjufo"><span class="ion-social-github"></span></a></li>
								<li class="linkedin" title="https://www.linkedin.com/in/jianyang995"><a href="https://www.linkedin.com/in/jianyang995/"><span class="ion-social-linkedin"></span></a></li>
								<li class="facebook" title="https://www.facebook.com/yangjufo"><a href="https://www.facebook.com/yangjufo"><span class="ion-social-facebook"></span></a></li>
							</ul>
						</div>
					</article>
				</main>
			</div>
		</div>
	</div>
{% endblock main-body %}